extends layout

block content
  h1 Wet Weather Plan :(

  p.
    Use this form to send SMS in the case of wet weather plan.

  form(action='/message/wet', method='POST')

    // The text of the message to send
    .form-group
      label(for='message') Enter a message for Special Guest
      input.form-control(type='text', name='message',
        placeholder='Hi there, gorgeous ;)')

    .form-group
      label(for='message') Enter a message for the rest
      input.form-control(type='text', name='message',
        placeholder='Hi there, gorgeous ;)')

    button.btn.btn-primary(type='submit') Send Yourself a Message!